@import url(https://fonts.googleapis.com/css?family=Kanit&display=swap);

body {
    font-family: Kanit, serif;
    background: linear-gradient(153deg, #ffffff 30%, #595959 100%);
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: antiquewhite;
}

.navbar-brand img{
    width: 40px;
}

.navbar-toggler {
    background-color: antiquewhite;
}

.sidebar {
    color: rgb(46, 46, 46);
    background: linear-gradient(153deg, #ffffff 30%, #595959 100%);
}

.card {
    background: linear-gradient(306deg, #ffffff 30%, #595959 100%);
    color: rgb(0, 0, 0);
}

.card a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.slide-text {
    color: black;
    margin: auto auto;
}

.footer-text {
    color: antiquewhite;
}

footer {
    background-color: rgb(36, 36, 36);
}

.btn-outline-primary {
    background: linear-gradient(30deg, #ffffff 10%, #595959 200%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-animation {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateY(0) rotate(0);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateY(-30px) rotate(6deg);
	}

	30% {
		transform: translateY(15px) rotate(-6deg);
	}

	45% {
		transform: translateY(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateY(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateY(-6px) rotate(1.2deg);
	}
}